{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}    
<div id="Kompaniya" class="clear">
    <div class="container">    
        <div class="span-24 subpage_title">
        <a href="/" class="home_icon">
            <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
        </a>
        <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
        <p class="colored">Компания</p>
    </div>
    <div class="span-24 separator notopmargin"></div>
        <div class="span-24">
            <div class="span-24 notopmargin">
                <h2 class="uppercase">Несколько слов о компании <span class="colored">New Line</span></h2>
                <p class="small-italic">Все очень просто. Мы – студия New Line. И мы знаем, как создать отличный сайт, выделяющийся среди остальных фирменный стиль или функциональное приложение. <br/>Секрет прост: Ваши мечты – наше воплощение. Если Вы можете себе это представить – мы это сделаем.</p>
                <img src="{% static "images/about_us_wide.png" %} " />
                <div class="span-24 separator notopmargin"></div>
                <div class="span-17 last">
                    <div class="span-17 notopmargin why">
                        <h4 class="uppercase">Почему нужно выбрать нас / <span class="colored">или</span> / Что тут все-таки происходит?</h4>
                    </div>
                    {{ flatpage.content }}
                </div>
                <div class="span-5">
                <h4 align="center" class="uppercase " style="background-color: transparent; color: #000; margin-bottom: 5px;">Клиенты <span class="colored">говорят</span></h4>
                </div>
                    <div class="span-4 service_small govoryatKlientu">
                        <div class="span-16 neotstyp slide-listSpeak" style="margin: 0px">
                            <ul id="listtickerSpeak" class="neotstyp slide-wrapSpeak" >
                                {% for item in feedbackaboutus %}
                                <li class="slide-itemSpeak">
                                    <div class="testimonial">
                                        <div class="the-author">{{ item.author|safe }}</div>
                                        <div class="the-author gray">{{ item.about_author|safe }}</div>
                                        <div class="separator notopmargin"></div>
                                        <span class="testmonial_span">{{ item.feedback|safe }}</span>

                                    </div> 
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    <a  id="prev"></a>
                    <a  id="next"></a>
                </div>
                <div class="span-24 separator"></div>
                <div class="span-24 trust">
                    <h3 class="uppercase"><span class="colored">Нам </span>доверяют :</h3>
                    {% for item in whotrustus %}
                <div class="span-6 notopmargin littletopmargin clients">
                    <a href="{{ item.website }}" target="_blank">
                        <img src="{{ item.image.url }}" alt="{{ item.website }}" width="218" height="120"/>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
         </div>
    </div>
</div>

<script type="text/javascript">
function htmSlider(){

        var slideWrap = jQuery('.slide-wrapSpeak');
        var nextLink = jQuery('#next');
        var prevLink = jQuery('#prev');
        var playLink = jQuery('.auto');
        var is_animate = false;
        var slideWidth = jQuery('.slide-itemSpeak').outerWidth();
        var newLeftPos = slideWrap.position().left - slideWidth;
        nextLink.click(function(){
            if(!slideWrap.is(':animated')) {
                slideWrap.animate({left: newLeftPos}, 900, function(){
                    slideWrap
                        .find('.slide-itemSpeak:first')
                        .appendTo(slideWrap)
                        .parent()
                        .css({'left': 0});
                });
            }
        });
        prevLink.click(function(){
            if(!slideWrap.is(':animated')) {
                slideWrap
                    .css({'left': newLeftPos})
                    .find('.slide-itemSpeak:last')
                    .prependTo(slideWrap)
                    .parent()
                    .animate({left: 0}, 900);
            }
        });
        function autoplay(){
            if(!is_animate){
                is_animate = true;
                slideWrap.animate({left: newLeftPos}, 500, function(){
                    slideWrap
                        .find('.slide-itemSpeak:first')
                        .appendTo(slideWrap)
                        .parent()
                        .css({'left': 0});
                    is_animate = false;
                });
            }
        }
    }
    htmSlider();
</script>
{% endblock %}