{% load staticfiles %}
{% load main_tags %}
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% seo_tag %}

    <script type="text/javascript">
        var IE7_PNG_SUFFIX = ".png";
    </script>
    <link href="{% static "css/reset.css" %} " rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style.css" %} " rel="stylesheet" type="text/css"/>
    <link href="{% static "css/Sasha.css" %} " rel="stylesheet" type="text/css"/>
    <link href="{% static "css/fonts.googleapis.com/css-family=Ubuntu-Cuprum&subset=latin,cyrillic-ext,cyrillic.css" %} " rel='stylesheet' type='text/css'>
    <!--link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald"-->
    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'-->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %} "></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %} "></script>
    <script type="text/javascript" src="{% static "js/1.7.2/jquery.min.js" %} "></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %} "></script>
    <script type="text/javascript" src="{% static "js/4toYmeem.js" %} "></script>
    <script type="text/javascript" src="{% static "js/quicksand.js" %} "></script>
    <!--[if lt IE 9]>
    <script src="{% static "js/html5.js" %} "></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link href="{% static "css/style.ie.css/index.htm.css" %} " rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if lt IE 7]>
    <script src="{% static "ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js" %} "></script><![endif]-->
    <!--[if lt IE 6]>
    <script type="text/javascript">   document.location.href = "http://newline.pro/ie/index.php/"; </script>
    <![endif]-->
    <script type="text/javascript" src="{% static "js/1.7.2/jquery.min.js" %} "></script>
    <script type="text/javascript" src="{% static "js/superfish-menu/superfish.js" %} "></script>
    <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %} "></script>
    <script type="text/javascript" src="{% static "js/jquery.asyncslider.js" %} "></script>
    <script type="text/javascript" src="{% static "js/custom.js" %} "></script>
</head>
<body>
<script type="text/javascript">
    jQuery.noConflict()(function ($) {
        $(document).ready(function () {
            $('li#lang a').click(function () {
                $('a#lang-trigger .active').removeClass('active');
                $(this).parent().addClass('active');
            });
        });
    });
</script>
<div class="top_line">
    <div id="butonu" class="container text-right">
        {% get_language_info_list for LANGUAGES as languages %}
        {% get_current_language as LANGUAGE_CODE %}
        {% for language in languages %}
            {% if LANGUAGE_CODE = language.code %}
            <a class="active" href="/lang/{{ language.code }}">{{ language.code|upper }}</a>
            {% else %}
            <a href="/lang/{{ language.code }}">{{ language.code|upper }}</a>
            {% endif%}
        {% endfor %}
    </div>
</div>
{% block header %}
<!--Header-->
<div class="container">
    <div class="span-8">
        <div id="logo">
            <a href="/"><img src="{% static "images/logo.png" %} " alt="Logo"/></a>
        </div>
    </div>
    <div class="span-16 last">
        <ul id="menu">
            {% if 'home' in request.get_full_path %}
            <li class="active"><a href="/home/">{% trans "Главная"  %}</a></li>
            {% else %}
            <li><a href="/home/">{% trans "Главная"  %}</a></li>
            {% endif %}

            {% if 'about' in request.get_full_path %}
            <li class="active"><a href="/about/">{% trans "Компания"  %}</a>
            {% else %}
            <li><a href="/about/">{% trans "Компания"  %}</a>
            {% endif %}
                <ul>
                    <li class="wurinaLI"><a class="vupadayoweMenu" href="/about/technology/">{% trans "Технологии"  %}</a></li>
                    <li class="wurinaLI"><a class="vupadayoweMenu" href="/about/">{% trans "О компании"  %}</a></li>
                    <li class="wurinaLI"><a class="vupadayoweMenu" href="/about/blog/">{% trans "Наш блог"  %}</a></li>
                    <li class="wurinaLI"><a class="vupadayoweMenu" href="/about/charity/">{% blocktrans %}Социальные</br> проекты{% endblocktrans %}</a></li>
                </ul>
            </li>

            {% if 'services' in request.get_full_path %}
            <li class="active"><a href="/services/">{% trans "Услуги"  %}</a></li>
            {% else %}
            <li><a href="/services/">{% trans "Услуги"  %}</a></li>
            {% endif %}

            {% if 'portfolio' in request.get_full_path %}
            <li class="active"><a href="/portfolio/">{% trans "Портфолио"  %}</a></li>
            {% else %}
            <li><a href="/portfolio/">{% trans "Портфолио"  %}</a></li>
            {% endif %}

            {% if 'principles' in request.get_full_path %}
            <li class="active"><a href="/principles/">{% trans "Наши принципы"  %}</a></li>
            {% else %}
            <li><a href="/principles/">{% trans "Наши принципы"  %}</a></li>
            {% endif %}

            {% if 'contacts' in request.get_full_path %}
            <li class="active"><a href="/contacts/">{% trans "Контакты"  %}</a></li>
            {% else %}
            <li><a href="/contacts/">{% trans "Контакты"  %}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="span-24 separator"></div>
</div>
<!-- END Header-->
{% endblock %}
{% block content %}
{% endblock %}
<!--END main contetnt-->
<div class="clear"></div>
{% block footer %}
<!--Footer-->
<div class="footer">
    <div class="clear"></div>
    <div id="bottom_line">
        <div class="separator"></div>
        <div class="container">
            <p id="bottom_menu" class="right">
                {% if 'home' in request.get_full_path %}
                <a class="linkactiveactive" href="/home/">{% trans "Главная"  %}</a>
                {% else %}
                <a class="link" href="/home/">{% trans "Главная"  %}</a>
                {% endif %}
                 /
                {% if 'about' in request.get_full_path %}
                <a class="linkactiveactive" href="/about/">{% trans "Компания"  %}</a>
                {% else %}
                <a class="link" href="/about/">{% trans "Компания"  %}</a>
                {% endif %}
                /
                {% if 'services' in request.get_full_path %}
                <a class="linkactiveactive" href="/services/">{% trans "Услуги"  %}</a> 
                {% else %}
                <a class="link" href="/services/">{% trans "Услуги"  %}</a> 
                {% endif %}
                /
                {% if 'portfolio' in request.get_full_path %}
                <a class="linkactiveactive" href="/portfolio/">{% trans "Портфолио"  %}</a> 
                {% else %}
                <a class="link" href="/portfolio/">{% trans "Портфолио"  %}</a> 
                {% endif %}
                /
                {% if 'principles' in request.get_full_path %}
                <a class="linkactiveactive" href="/principles/">{% trans "Наши принципы"  %}</a>
                {% else %}
                <a class="link" href="/principles/">{% trans "Наши принципы"  %}</a>
                {% endif %}
                /
                {% if 'contacts' in request.get_full_path %}
                <a class="linkactiveactive" href="/contacts/">{% trans "Контакты"  %}</a>
                {% else %}
                <a class="link" href="/contacts/">{% trans "Контакты"  %}</a>
                {% endif %}
            </p>
            <p class="left">&#169 2013 New Line</p>
        </div>
    </div>
</div>
{% endblock %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35215877-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www/') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script>
<script type="text/javascript">(function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter17609089 = new Ya.Metrika({id:17609089, enableAll:true, trackHash:true, webvisor:true, params:window.yaParams || { }});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="../mc.yandex.ru/watch/17609089/1.gif" tppabs="http://mc.yandex.ru/watch/17609089"
              style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>