{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="clear">
    <div class="container">
        <div class="span-24 subpage_title">
            <a href="/" class="home_icon">
                <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p class="colored"><a href="/about/">{% trans "Компания" %}</a></p>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p>{% trans "Блог" %}</p>
        </div>

        <div class="span-24 separator notopmargin"></div>
        <div id="Blog" class="span-24">
            <div class="span-24 notopmargin">
                {% blocktrans %}<h2 class="uppercase">Блог <span class="colored">Новостей</span></h2>{% endblocktrans %}
                {% for item in news %}
                <div class="span-24 notopmargin otstypBloka">
                    {% if item.preview %}
                    <span class="left obtekanie">
                    <img src="{{ item.preview.url }}" alt="{{ item.title }}">
                    </span>
                    {% endif %}
                    <h4 class="colored"><a href="">{{ item.title|safe }}</a></h4>
                    <p>{{ item.description|safe }}</p>
                    <span id='ontext{{ item.id }}'  style='display: inline;'>{{ item.publication_date|safe }} <a href="javascript:on('{{ item.id }}');" class="colored paddingRazvernytb">{% trans "развернуть новость" %}</a><img src="{% static "images/down.png" %} " alt=""></span>
                    <div id='text{{ item.id }}' style='display: none;'>
                        {{ item.text|safe }}
                    </div>
                    <span id='offtext{{ item.id }}' style='display: none;'>{{ item.publication_date }} <a href="javascript:off('{{ item.id }}');"  class="colored paddingRazvernytb">{% trans "свернуть новость" %}</a><img src="{% static "images/up.png" %} " alt=""></span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function look(type){
            param=document.getElementById(type);
            if(param.style.display == "none") param.style.display = "block";
            else param.style.display = "none"
        }
            function on(n){
                eval("document.all.text"+n+".style.display='block';");
                eval("document.all.ontext"+n+".style.display='none';");
                eval("document.all.offtext"+n+".style.display='inline';");
            }
            function off(n){
                eval("document.all.text"+n+".style.display='none';");
                eval("document.all.ontext"+n+".style.display='inline';");
                eval("document.all.offtext"+n+".style.display='none';");
            }
</script>
{% endblock %}