{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="clear">
    <div class="container">
        <div class="span-24 subpage_title">
            <a href="/" class="home_icon">
                <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
                <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
                <p class="colored"><a href="/about/">{% trans "Компания" %}</a></p>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p>{{ flatpage.title }}</p>
        </div>

        <div class="span-24 separator notopmargin"></div>
        <div class="span-24">
            <div class="span-24 notopmargin">

                <div class="span-24">
                    <div id="charity"></div>
                    <h2 class="uppercase"><span class="colored">{% trans "БЛАГОТВОРИТЕЛЬНОСТЬ" %}</span></h2>
                    <img src="{% static "images/charity.png" %} " style="float: left;"/>
                    <div style="width: 445px; float: left; margin-left: 10px;">
                        {{ flatpage.content }}
                    </div>
                    <div class="span-24">
                    {% blocktrans %}<h3 class="uppercase"><span class="colored">БИБЛИЯ</span> ГОВОРИТ</h3>{% endblocktrans %}
                    {% blocktrans %}
                        <div class="span-24">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using<br>
                            <span class="strong">Притчи 11:24,25</span></p>
                        </div>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <div class="span-24">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using<br>
                                <span class="strong">Притчи 11:24,25</span></p>
                        </div>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <div class="span-24">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using<br>
                                <span class="strong">Притчи 11:24,25</span></p>
                        </div>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <div class="span-24">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using<br>
                                <span class="strong">Притчи 11:24,25</span></p>
                        </div>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <div class="span-24">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using<br>
                                <span class="strong">Притчи 11:24,25</span></p>
                        </div>
                    {% endblocktrans %}
                </div>
                </div>
            </div>
         </div>
    </div>

    </div>
{% endblock %}