{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="clear">
    <div class="container">
        <div class="span-24 subpage_title">
            <a href="/" class="home_icon">
                <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p class="colored">{{ flatpage.title|safe }}</p>
        </div>

        <div class="span-24 separator notopmargin"></div>
        <div id="Kontaktu" class="span-24">
            <div class="span-24 notopmargin">
                <div class="span-5 marginFirst">
                    {{ flatpage.info_block1|safe }}
                </div>
                <div class="span-2 marginStrelok">
                    <img src="{% static "images/strelo4ka.png" %} " alt="">
                </div>
                <div class="span-7 marginFirst">
                    {{ flatpage.info_block2|safe }}
                </div>
                <div class="span-2 marginStrelok">
                    <img src="{% static "images/strelo4ka.png" %} " alt="">
                </div>
                <div class="span-7 marginFirst">
                    {{ flatpage.info_block3|safe }}
                </div>


                <div class="span-24 separator notopmargin"></div>
                <div class="span-24 notopmargin">
                    <div class="span-6 last">
                        {{ flatpage.info_block4|safe }}
                    </div>

                    <div class="span-16 post_form napiwuteNam">
                        {% blocktrans %}<h4 class=" uppercase"><span class="colored">Напишите </span>нам</h4>{% endblocktrans %}
                        <div id="note">
                            {% if ContactForm.errors %} {% trans "Ошибка отправки: Заполните все поля и введите корректные данные!" %}<br><br> {% endif %}
                        </div>
                        {% if ContactFormSuccess %}
                            <div id="note">
                                {% trans "Ваше сообщение отправлено. Спасибо за отзыв !" %}<br><br>
                            </div>
                        {% else %}
                        <fieldset class="info_fieldset">
                            <div id="fields">
                                <form action="" method="post">{% csrf_token %}
                                    <div class="span-8 form notopmargin">
                                        {{ ContactForm.name }}
                                        <br />
                                    </div>
                                    <div class="span-8 form last notopmargin">
                                        {{ ContactForm.email }}
                                        <br />
                                    </div>
                                    <div class="span-16 last formtop">
                                        {{ ContactForm.phone }}
                                        <br />
                                    </div>
                                    <div class="span-16 last formtop">
                                        {{ ContactForm.subject }}
                                        <br />
                                    </div>
                                    <div class="span-16 last">
                                        {{ ContactForm.message }}
                                        <br />
                                    </div>
                                    <div class="span-12 last notopmargin">
                                        <input class="button" type="submit" name="submit" value="{% trans 'Отправить' %}" id="submit_form"/>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>
                </div>

            </div>

                </div>

         </div>
        </div>
{% endblock %}