{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="clear">
    <!--Slider-->
    <div class="my_asyncslider">
        {% for item in mainslider %}
        <div id="slide-0{{ item.id }}">
            <div>
                <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
            </div>
            <div class="description">
                <h2><span class="colored">{{ item.title|safe }}</span></h2>
                <div>
                    {{ item.description|safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--END Slider-->
    <!--Main Content-->
    <div class="container">
        <div class="span-24 separator"></div>
        <div class="span-16">
            <div class="span-16 notopmargin">
                <div class="span-16 notopmargin last">
                    <h3 class="uppercase">{% trans "Кто мы такие?" %}</h3>
                </div>
                <div class="span-16 notopmargin" style="position:relative;">
                  {{ flatpage.content|safe|truncatewords:90 }}
                <a href="/about/" class="button_readmore">{% trans "Читать далее" %}</a>
                </div>
            </div>
            <div class="span-16 notopmargin last separator"></div>
            <div class="span-16 otstypLinii">
                <div id="Uslygi" class="slider">
                    <div class="span-16 notopmargin last">
                        <h3 class="uppercase">{% trans "ЧТО МЫ УМЕЕМ?" %}</h3>
                    </div>
                        <div class="span-16 neotstyp slide-list style margin-top">
                            <ul id="listticker" class="neotstyp slide-wrap" >
                                {% for item in whatwecando %}
                                <li class="slide-item">
                                    <span class="news-text">{{ item.text|safe }}</p></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                </div>
                <ul id="asyncslider_next_prev_nav" class="for_button">
                    <li id="img_left" class="prev prev_button"><a class="sulka_prev"></a></li>
                    <li id="img_right" class="next next_button" ><a class="sulka_next"></a></li>
                </ul>
            </div>
            <div class="span-24 notopmargin last separator"></div>
            <div id="Trust" class="span-24 trust">
                <h3 class="uppercase">{% blocktrans %}<span class="colored">Нам </span>доверяют :</h3>{% endblocktrans %}
                {% for item in whotrustus %}
                <div class="span-6 notopmargin littletopmargin clients">
                    <a href="{{ item.website }}" target="_blank">
                        <img src="{{ item.image.url }}" alt="{{ item.website }}" width="218" height="120"/>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>



        <div class="span-8 last skills">
            <h4 class="uppercase colored center">{% trans "Наши навыки" %}</h4>
            <div style="margin-top: 30px;"></div>
            {% for item in ourskills %}
            <h6><span class="colored">{{ item.title }}</span></h6>
            <div class="progress-bar blue stripes">
                <span style="width: {{ item.value }}%"></span>
            </div>
            {% endfor %}
        </div>

{% endblock %}