{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="clear">
        

    <div class="container">
        
<div class="span-24 subpage_title">
    <a href="/" class="home_icon">
        <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
    </a>
    <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
    <p class="colored">{{ flatpage.title }}</p> 
</div>

        <div class="span-24 separator notopmargin"></div>
        <div class="span-24">
        {% blocktrans %}<h3 class="uppercase">Принципы роботы компании <span class="colored">New Line</span></h3>{% endblocktrans %}
            <p class="left kartinkaBoss">
                <img src="{% static "images/2.png" %} " alt="">
            </p>
            {{ flatpage.content }}
        </div>
        <div class="span-24 separator notopmargin"></div>
        <div id="Pruncupu" class="span-24">
            <div class="span-12 notopmargin">
                {% blocktrans %}
                <h3 class="uppercase"><span class="colored">Не</span> сотрудничаем</h3>
                <p class="paragraf">Компания New Line <span class="strong">не создает</span> проекты, деятельность которых прямо нарушает Библию. К ним относятся проекты, связанные с деятельностью:</p>
                <ul class="not-cooperate">
                    <li>порнография</li>
                    <li>эротика</li>
                    <li>оружие</li>
                    <li>наркотики</li>
                </ul>
                <ul class="not-cooperate left">
                    <li class="kazino">казино</li>
                    <li class="alcohol">алкоголь</li>
                    <li class="smoke">курение</li>
                    <li>политика</li>
                </ul>
                {% endblocktrans %}
                </div>
            <div class="span-9 notopmargin bibliya">
                {% blocktrans %}
                <h3 class="uppercase"><span class="colored">Библия</span> онлайн</h3>
                <p class="paragraf">Компания New Line не создает проекты, деятельность которых прямо нарушает Библию</p>
                {% endblocktrans %}
                <p class="kartinkaBiblii"><a title="{% trans 'Библия онлайн' %}" href="http://allbible.info/"><img src="{% static "images/allbible_200x100.png" %} " alt="{% trans 'Библия онлайн' %}" width="200" height="100" border="0" /></a></p>
            </div>
         </div>
        <div class="span-24 separator notopmargin"></div>
    </div>

    </div>
{% endblock %}