{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="clear">
    <div class="container">
        <div class="span-24 subpage_title">
            <a href="/" class="home_icon">
                <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p class="colored">{{ flatpage.title }}</p>
        </div>

        <div class="span-24 separator notopmargin"></div>
        <div class="span-24">
            <div class="span-24 notopmargin">
                {% blocktrans %}<h2 class="uppercase">Наши <span class="colored">Услуги</span></h2>{% endblocktrans %}
                <div class="span-24 notopmargin">
                    {{ flatpage.content }}
                    <div class="span-24 separator notopmargin"></div>
                </div>

                
                <div id="Yslygi" class="span-24">
                    {% for item in services %}
                    <div class="span-7">
                        <p>{{ item.title|safe }}</p>
                        <p>{{ item.description|safe }}</p>
                    </div>
                    {% endfor %}
                </div>
                

            </div>
         </div>
    </div>

    </div>
{% endblock %}