{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="clear">
    <div class="container">
        <div class="span-24 subpage_title">
            <a href="/" class="home_icon">
                <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
            </a>
            <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
            <p class="colored"><a href="/about/">{% trans "Компания" %}</a></p>
                <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
                <p>{{ flatpage.title }}</p>
        
    
        </div>

        <div class="span-24 separator notopmargin"></div>
        <div id="Tehnologi" class="span-24">
            <div class="span-24 notopmargin">
                {% blocktrans %}<h2 class="uppercase">Наши <span class="colored">Технологии</span></h2>{% endblocktrans %}
                <div class="span-24 notopmargin">
                    {{ flatpage.content|safe }}
                </div>
                <div class="span-24 separator notopmargin"></div>
            </div>

            {% for item in technology %}
                <div class="span-24 notopmargin otstypBloka">
                   <div> <img class="left images otstypuKartinok" src="{{ item.image.url }}" alt=""></div>
                   <h4 class="colored">{{ item.title|safe }}</h4>
                    <p>{{ item.description|safe }}</p>
                    {% for sub_tech in item.sub_tech.all %}
                    <span id='ontext{{ sub_tech.id }}'  style='display: inline;'><a href="javascript:on('{{ sub_tech.id }}');" class="colorsilver strelka">{{ sub_tech.title|safe }}</a><img src="{% static "images/downsilver.png" %} " alt=""></span>
                    <span id='offtext{{ sub_tech.id }}' style='display: none;'><a href="javascript:off('{{ sub_tech.id }}');"  class="colorsilver strelka">{{ sub_tech.title|safe }}</a><img src="{% static "images/upsilver.png" %} " alt=""></span>
                    {% endfor %}
                    {% for sub_tech in item.sub_tech.all %}
                    <div id='text{{ sub_tech.id }}' class="vupadayowi">
                        {% if sub_tech.image %}<div> <img class="left images otstypuKartinok" src="{{ sub_tech.image.url }}" alt=""></div>
                        {% endif %}
                        <p> {{ sub_tech.description|safe }}</p>
                    </div>

                    {% endfor %}
                </div>
            <div class="span-24 separator notopmargin"></div>
            {% endfor %}

         </div>
        </div>
    </div>

    </div>


        <script type="text/javascript">
        function look(type){
            param=document.getElementById(type);
            if(param.style.display == "none") param.style.display = "block";
            else param.style.display = "none"
        }
            function on(n){
                eval("document.all.text"+n+".style.display='block';");
                eval("document.all.ontext"+n+".style.display='none';");
                eval("document.all.offtext"+n+".style.display='inline';");
            }
            function off(n){
                eval("document.all.text"+n+".style.display='none';");
                eval("document.all.ontext"+n+".style.display='inline';");
                eval("document.all.offtext"+n+".style.display='none';");
            }

    </script>
{% endblock %}