{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %} 
<div class="clear">
<div class="container">
        
<div class="span-24 subpage_title">
    <a href="/" class="home_icon">
        <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
    </a>
    <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
    <p class="colored"><a href="/portfolio/">{% trans "Портфолио" %}</a></p>
    <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
    <p>{{ portfolio.title }}</p>
</div>

<div class="span-24 separator notopmargin"></div>
    <div class="span-16">
            <div>
                <div>
                    <ul id="asyncslider_next_prev_nav" class="for_button">
                        <li id="img_left" class="prev prev_button"><a class="sulka_prev"></a></li>
                        <li id="img_right" class="next next_button" ><a class="sulka_next"></a></li>
                    </ul>
                    <div class="span-16 neotstyp slide-listPortfolio style margin-top">
                        <ul id="listtickerPortfolio" class="neotstyp slide-wrapPortfolio" >
                            {% for item in images %}
                            <li class="slide-itemPortfolio">
                                    <img src="{{ item.image.url }}" data-thumb="{{ item.image.url }}" alt="{{ item.website }}" style="display: block;">    
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    
                </div>
            </div>
            
        </div>
        <div class="span-8 last">
            <div class="sidebar-portfolio">
                <h5>{{ portfolio.title|safe }}</h5>
                <p>{{ portfolio.description|safe }}</p>
                <div class="separator marginLinii"></div>
                {% blocktrans %}<h6 class="uppercase">Особенности <span class="colored">проекта</span></h6>{% endblocktrans %}
                <ul id="Osobenosti" class="features">
                    {{ portfolio.features|safe }}            
                </ul>
                <div class="separator marginLinii"></div>
                <p class="strong">{% trans "Посетить сайт" %} :  <a class="colored" href="{{ portfolio.website }}">{{ portfolio.website }}</a></p>
                
            </div>
        </div>
    </div>

    </div> 
<script type="text/javascript">
function htmSlider(){
        var slideWrap = jQuery('.slide-wrapPortfolio');
        var nextLink = jQuery('#img_right');
        var prevLink = jQuery('#img_left');
        var playLink = jQuery('.auto');
        var is_animate = false;
        var slideWidth = jQuery('.slide-itemPortfolio').outerWidth();
        var newLeftPos = slideWrap.position().left - slideWidth;
        nextLink.click(function(){
            if(!slideWrap.is(':animated')) {
                slideWrap.animate({left: newLeftPos}, 900, function(){
                    slideWrap
                        .find('.slide-itemPortfolio:first')
                        .appendTo(slideWrap)
                        .parent()
                        .css({'left': 0});
                });
            }
        });
        prevLink.click(function(){
            if(!slideWrap.is(':animated')) {
                slideWrap
                    .css({'left': newLeftPos})
                    .find('.slide-itemPortfolio:last')
                    .prependTo(slideWrap)
                    .parent()
                    .animate({left: 0}, 900);
            }
        });
        function autoplay(){
            if(!is_animate){
                is_animate = true;
                slideWrap.animate({left: newLeftPos}, 500, function(){
                    slideWrap
                        .find('.slide-itemPortfolio:first')
                        .appendTo(slideWrap)
                        .parent()
                        .css({'left': 0});
                    is_animate = false;
                });
            }
        }
    }
    htmSlider();
</script>
{% endblock %}