{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}    
<div class="clear">
        
<div class="container">
    
<div class="span-24 subpage_title">
    <a href="/" class="home_icon">
        <img src="{% static "images/1px.png" %} " alt="" width="17" height="14"/>
    </a>
    <img class="sep" src="{% static "images/dv.png" %} " alt="" width="17" height="16"/>
    <p class="colored">{% trans "Портфолио" %}</p>
</div>

    <div class="span-24 separator notopmargin"></div>
    <div class="span-24">
    <ul id="filter">
        <li class="current"><a href="#" filter-data="all">{% trans "Всё" %}</a></li>
        <li><a href="#" filter-data="1">{% trans "Проекты под ключ" %}</a></li>
        <li><a href="#" filter-data="2">{% trans "Web Дизайн" %}</a></li>
        <li><a href="#" filter-data="3"> {% trans "Стили и Лого" %}</a></li>
        <li><a href="#" filter-data="4">{% trans "SEO" %}</a></li>
    </ul>
    </div>
    <div class="span-24">
    
    <ul class="span-24" id="stage">
        <!-- Portfolio Items -->
        {% for item in portfolio %}
                <li class="span-8" style="float:left;" data-tags="{{ item.work_type }}" data-id="{{ item.id }}">
                    <div class="preview">
                        <img src="{{ item.screenshot.thumbnail.url }}" alt="{{ item.website }}">
                    </div>
                    <p class="strong">{{ item.title }}</p>
                    <p><a href="/portfolio/{{ item.id }}/" class="colored">{% trans "Показать" %}</a> </p>
                </li>
        {% endfor %}
        </ul>
        
    </div>
</div>

    </div>

<script type="text/javascript">

/*Filter*/
var serviceHolder = $('#stage');
var serviceClone = serviceHolder.clone(); 
//var filters;
$('#filter a').click(function(e) {
    e.preventDefault();

    var filter = $(this).attr('filter-data');
    
    $('#filter li').removeClass('current');
    $(this).parent().addClass('current');
 
    if(filter == 'all'){
        var filters = serviceClone.find('li');
    } else {
        var filters = serviceClone.find('li[data-tags='+ filter +']');
        
    }

    serviceHolder.quicksand(filters, {
        duration: 1000,
    });
});

/*$('ul#filter a').click(function() {
    $('ul#filter .current').removeClass('current');
        $(this).parent().addClass('current');
        var filterVal = $(this).attr('data-filter');
        if(filterVal == 'everything') {
            $('ul#portfolio li').fadeIn(400);
        } 
        else {
            $('ul#portfolio li').each(function(){
            if ($(this).hasClass(filterVal))
                $(this).fadeIn(400);
            else
                $(this).fadeOut(300);
        });
    }
    return false;
});
*/
</script>
{% endblock %}