/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
    position: relative;
    overflow: hidden;
    width: 600px !important;
}
.home .theme-default .nivoSlider {
	position:relative;
	height:350px !important;
	width:898px !important;

}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-65px;
    margin-left:-447px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:32px;
	height:32px;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-image:url(../images/arrow-next.png);
	margin-right:20px;
}
.theme-default a.nivo-nextNav:hover{
	background-image:url(../images/arrow-next-hover.png)
}
.theme-default a.nivo-prevNav {
	background-image:url(../images/arrow-prev.png);
	margin-left:20px;
}
.theme-default a.nivo-prevNav:hover{
	background-image:url(../images/arrow-prev-hover.png)
}
.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#000;
    border-bottom:1px dotted #000;
}
.theme-default .nivo-caption a:hover {
    color:#000;
	border-bottom:1px solid #000;
	
}