#Uslygi a{
    color: red;
    text-decoration: underline;
}
#Uslygi a:hover{
    text-decoration: none;
}
.slide-wrap {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}
.slide-list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 325px;
}
.slide-item {
    padding: 10px;
    float: left;
    width: 187px;
}
.slide-title {
    font: 16px monospace;
    display: block;
}
.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }
.slider {
    position: relative;
    overflow: hidden;
}
#listticker{
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    margin-left:0px;
    padding:0px;
    height: 208px;
    overflow:hidden;
}
#listticker a{
    color:#000000;
    text-decoration: underline;
}
#listticker li {
    float: left;
    position: relative;
    text-align:left;
}
#listticker li{
    height:270px;
    padding:5px 30px 25px 0px;
    list-style:none;
}
#listticker .wriftZagolovok{
    font-size: 17px;
}
#listticker .news-text{
    display:block;
    font-size:11px;
    color:#333333;
    width: 183px;
}
#listticker .data{
    margin-bottom:15px;
    font-size:11px;
}
#listticker .news-title{
    margin-bottom:15px;
    font-size:11px;
}

#Trust .margin{
    margin: 0px;
}
.style {
    margin: 0px;
    overflow: hidden;
    width: 620px;
}
#Uslygi .margin-top{
    margin-top: 0px;
}
#listticker .padding{
    padding-top: 15px;
}
.otstypLinii{
    margin-bottom: 50px;
}
.active{
    color: red;
}
#butonu{
    margin-top: 3px;
}
#butonu a {
    padding: 5px 3px 7px 3px;
    margin-right: -2px;
    font-weight: 900;
    background-image: url("../images/12.png");
}
.text-right{
    text-align: right;
}
.paragraf {
    font-size: 12px;
    font-weight: normal;
}
#Pruncupu ul li{
    float: left;
    margin-right: 45px;
}
.left{
    float: left;
}
.right{
    float: right;
}
#Pruncupu .kazino{
    margin-right: 80px;
}
#Pruncupu .alcohol{
    margin-right: 32px;
}
#Pruncupu .smoke{
    margin-right: 34px;
}
.bibliya{
    padding-left: 100px;
}
.kartinkaBiblii{
    position: relative;
    top: 8px;
}
.kartinkaBoss{
    padding-right: 60px;
}
#Yslygi ul li{
    list-style-image: url("../images/strelka.png");
    margin-left: 20px;
}
#Yslygi .span-7{
    height: 250px;
    margin-right: 45px;
}
.strong{
    font-weight: 700;
}
.obtekanie{
    padding-right: 35px;
    padding-bottom: 10px;
}

.opis{
    display:none;
    text-align: justify;
}
.paddingRazvernytb{
    padding-left: 50px;
    padding-right: 15px;
}
.otstypBloka{
    margin-bottom: 35px;
}
#Blog a {
    text-decoration: underline;
}
#Tehnologi .otstypBloka{
    margin-bottom: 35px;
    padding-top: 25px;
}
#Tehnologi .images{
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}
#Tehnologi .otstypuKartinok{
    margin-right: 25px;
    margin-bottom: 10px;

}
#Tehnologi .strelka{
    padding-right: 15px;
}
#Tehnologi .vupadayowi{
    padding-left: 72px;
    display: none;
    margin-top: 20px;
}
.colorsilver {
    color: #959595;
}
#Kontaktu .napiwuteNam{
    margin-top: 35px;
    padding: 0px;
    float: right;
}
#Kontaktu .marginFirst{
    margin-top: 0px;
}
#Kontaktu .marginStrelok{
    margin-top: 0px;
    margin-right: 30px;
}
#Kompaniya .govoryatKlientu{
    float: left;
    margin-top: 12px;
    height: 250px;
    margin-left: 7px;
}
#menu .vupadayoweMenu {
    text-align: center;
    font-size: 14px;
    width: 61px;
}

#menu .wurinaLI{
    width: 75px;
}

#stage li .preview{
    height: 120px;
    width: 300px;
}

.marginLinii{
    margin-top: 15px;
    margin-bottom: 15px;
}
.slide-wrapSpeak {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}
.slide-listSpeak {
    position: relative;
    margin: 0;
    padding: 0;
    width: 630px;
}
.slide-itemSpeak {
    padding: 10px;
    float: left;
    width: 600px;
}

.sliderSpeak::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.sliderSpeak::selection { background: transparent; color: #fff; text-shadow: none; }
.sliderSpeak {
    position: relative;
    overflow: hidden;
}
#listtickerSpeak{
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    margin-left:0px;
    padding:0px;
    height: 800px;
    overflow:hidden;
}

#listtickerSpeak li{
    height:8000px;
    padding:5px 30px 25px 0px;
    list-style:none;
    float: left;
    position: relative;
    text-align:left;
}
.slide-wrapSpeak {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}
.slide-listSpeak {
    position: relative;
    margin: 0;
    padding: 0;
    width: 630px;
}
.slide-itemSpeak {
    padding: 10px;
    float: left;
    width: 600px;
}

.sliderSpeak::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.sliderSpeak::selection { background: transparent; color: #fff; text-shadow: none; }
.sliderSpeak {
    position: relative;
    overflow: hidden;
}
.slide-listPortfolio {
    position: relative;
    margin: 0;
    padding: 0;
    width: 610px;
}
.slide-itemPortfolio {
    padding: 10px;
    float: left;
    width: 591px;
}
.slide-titlePortfolio {
    font: 16px monospace;
    display: block;
}
.slide-wrapPortfolio {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}
.sliderPortfolio::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.sliderPortfolio::selection { background: transparent; color: #fff; text-shadow: none; }
.sliderPortfolio {
    position: relative;
    overflow: hidden;
}
#listtickerPortfolio{
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    margin-left:0px;
    padding:0px;
    height: 700px;
    overflow:hidden;
}
#listtickerPortfolio a{
    color:#000000;
    text-decoration: underline;
}
#listtickerPortfolio li {
    float: left;
    position: relative;
    text-align:left;
}
#listtickerPortfolio li{
    height:270px;
    padding:5px 30px 25px 0px;
    list-style:none;
}
#listtickerPortfolio .news-title{
    margin-bottom:15px;
    font-size:11px;
}
